
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Person of The Year</title>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <h1>Person of The Year</h1>
    <h3>Please enter a year span to see the person of the year!</h3>

    <form method="post">
        <label name="FromYear">From Year: </label>
        <input type="number" name="FromYear" placeholder="Enter start year" />

        <label name="ToYear">To Year: </label>
        <input type="number" name="ToYear" placeholder="Enter end year" />

        <button type="submit">Submit</button>
    </form>

</body>
</html>
