
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Winners of The Year</title>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <h1>Please enter a year span to see the winners of the year!</h1>

</body>
</html>
