@model Class11Demo.Models.Student

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <h1>@Model.FirstName @Model.LastName</h1>
    <p> This student is @Model.Age years old</p>
</body>
</html>
